@media (max-width: 719px) and (orientation: landscape) {
  .market {
    background-image: url(../img/images/image-mobile2.jpg);
  }
  .market__block {
    width: 50%;
    padding: 15px 7px;
  }
  .market__item {
    width: 50%;
  }
  .market__title {
    padding: 0;
  }
}
@media (min-width: 720px) {
  .market {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(../img/images/image-tablet.jpg);
  }
  .market__block {
    height: auto;
    margin-top: auto;
    padding: 35px 10px;
    padding-bottom: 40px;
  }
  .market__top {
    flex-direction: column;
  }
  .market__logo {
    margin-right: 0;
    margin-bottom: 8px;
    
    img {
      width: 89px;
    }
  }
  .market__main {
    width: 100%;
    margin-bottom: 10px;
    font-size: 24px;
  }
  .market__list {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  .market__item {
    width: 24.5%;
  }
  .market__title {
    font-size: 11px;
  }
  .market__icon {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    
    img {
      width: 22px;
    }
  }
}

@media (min-width: 960px) {
  .market {
    background-image: url(../img/images/image-tablet2.jpg);
  }
  .market__block {
    width: 396px;
    height: 100vh;
    padding-left: 0;
    padding-right: 0;
    display: block;
    padding-top: 64px;
  }
  .market__main {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 28px;
  }
  .market__list {
    padding-left: 20px;
    padding-right: 20px;
  }
  .market__item {
    width: 50%;
    margin-bottom: 23px;
  }
  .market__logo {
    margin-bottom: 12px;
  }
  .market__icon {
    margin-bottom: 13px;
  }
}

@media (min-width: 1200px) {
  .market {
    background-image: url(../img/images/image.jpg);
  }
  .market__block {
    width: 45%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 46px;
  }
  .market__main {
//    font-size: 48px;
    max-width: 783px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
  }
  .market__list {
    justify-content: center;
  }
  .market__item {
    width: 295px;
    max-width: 50%;
  }
  .market__title {
    font-size: 12px;
  }
}

@media (min-width: 1750px) {
  .market__main {
    font-size: 48px;
  }
  .market__logo {
    margin-bottom: 10px;
    
    img {
      width: 148px;
    }
  }
  .market__title {
    font-size: 18px;
  }
  .market__icon {
    width: 100px;
    height: 100px;
    
    img {
      width: 35px;
    }
  }
  .market__btn {
    font-size: 18px;
    width: 370px;
    height: 69px;
  }
}